.CreateEvent-Header {
    text-align: center;
}

.CreateEvent-Content {
    margin-left: 25%;
    max-width: 50%;
    padding: 2rem;
}space-between

.CreateEvent-Form {
    display: flex;
    flex-direction: column;
}

.React-Select-Error {
    text-align: left;
}

.CreateEvent-Submit {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}