.EventPage-Header {
    margin-left: 10%;
    margin-right: 10%;
}

.EventPage-AddTask {
    display: flex;
    flex-direction: column;
}

.Event-Details-Container {
    border-top: 2px solid var(--action-color);
    text-align: initial;
    margin-right: 10%;
    margin-left: 10%;
    padding: 2rem;
}

.Event-Detail-Add-Task {
    align-items: flex-end;
}

.Event-Task-Collapsible {
    background-color: var(--level-one-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.Event-Task-Collapsible:hover {
    background-color: var(--level-one-accent);
}

.Event-Task-Details {
    padding: 0 18px;
    background-color: var(--level-two-color);
}

.Event-Task-Comment {
    display: flex;
    flex-direction: row;
    min-width: 30rem;
    min-height: 5rem;
    background-color: var(--level-two-accent);
    color: var(--text-color);
    font-size: 14px;
    border-radius: .5rem;
    border-color: var(--action-color);
}