.EventsSection-Events {
    border-radius: .5rem;
    min-width: 300px;
    max-width: 47.5%;
    width: 47.5%;
    text-align: center;
}

.EventsSection-SingleEvent {
    text-align: initial;
    margin: 0 2rem .5rem 2rem;
    padding: .25rem;
    border: 2px solid var(--action-color);
    border-radius: .5rem;
}

.EventsSection-Content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.EventsSection-No-Events {
    height: 100px;
    padding-top: 45px;
    opacity: 40%;
    border-radius: .5rem;
    background-color: var(--action-color);
    text-align: center;
    color: black;
    font-size: 145%;
}
