.EventPage-Header {
    margin-left: 10%;
    margin-right: 10%;
}

.EventPage-AddTask {
    display: flex;
    flex-direction: column;
}

.Event-Details-Container {
    border-top: 2px solid var(--action-color);
    text-align: initial;
    margin-right: 10%;
    margin-left: 10%;
    padding: 2rem;
}

.Event-Detail-Add-Task {
    align-items: flex-end;
}

.Event-Task-Collapsible {
    background-color: var(--level-two-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.active, .Event-Task-Collapsible:hover {
    background-color: var(--level-two-accent);
}

.Event-Task-Details {
    padding: 0 18px;
    background-color: var(--level-one-color);
}