.PrimaryNavigation {
    background-color: var(--level-two-color);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    height: inherit;
}

.PrimaryNavigationInfo {
    display: flex;
    justify-content: space-between;
}

.PrimaryNavigation button {
    padding: 15px;
}

.PrimaryNavigationInfo span {
    padding: 10px;
}