#!/bin/bash

set -a
RDS_HOSTNAME=localhost
RDS_PORT=5432
RDS_DB_NAME=tsr
RDS_USERNAME=tsr
RDS_PASSWORD=tsr
TSR_KEYCLOAK_HOST=http://localhost:8081

if [ -f ./secrets ]; then
  source ./secrets
else
  echo "No secrets file found. Something is likely wrong"
  exit 1
fi

set +a
