#!/bin/bash

set -a
RDS_HOSTNAME=localhost
RDS_PORT=5432
RDS_DB_NAME=tsr
TSR_TEST_DB_NAME=tsr_test
RDS_USERNAME=tsr
RDS_PASSWORD=tsr
RDS_JDBC_DATABASE_URL=jdbc:postgresql://${RDS_HOSTNAME}:${RDS_PORT}/${RDS_DB_NAME}
TSR_KEYCLOAK_HOST=http://localhost:8081
TSR_KEYCLOAK_SECRET_KEY=random-password

if [ -f ./secrets ]; then
  source ./secrets
fi

set +a
