.CreateEvent-Content {
    border: 2px solid var(--action-color);
    border-radius: .5rem;

    margin-left: 25%;
    max-width: 50%;

    padding: 2rem;
}

/*.CreateEvent-Content {*/
/*    width: 85%;*/
/*}*/

/*.CreateEvent-Form {*/
/*    width: 100%;*/
/*    align-items: start;*/
/*}*/

/*.form-group-vertical {*/
/*    text-align: initial;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: flex-start;*/
/*    flex-direction: column;*/
/*}*/
