Resources:
    TsrElbSecurityGroup:
        Type: 'AWS::EC2::SecurityGroup'
        Properties:
            GroupDescription: "load balancer security group"
            GroupName: tsr-elb-sg
            SecurityGroupIngress:
              - Description: "http traffic"
                FromPort: 80
                IpProtocol: tcp
                ToPort: 80
              - Description: "https traffic"
                FromPort: 443
                IpProtocol: tcp
                ToPort: 443
            SecurityGroupEgress:
              - Description: "outbound world traffic"
                IpProtocol: tcp
            VpcId: vpc-f98df181
    TsrSecurityGroup:
        Type: 'AWS::EC2::SecurityGroup'
        Properties:
            GroupDescription: "application security group"
            GroupName: tsr-sg
            SecurityGroupIngress:
              - Description: "traffic from elb"
                FromPort: 80
                ToPort: 80
                IpProtocol: tcp
                SourceSecurityGroupId:
                    Fn::GetAtt:
                      - TsrElbSecurityGroup
                      - GroupId
            SecurityGroupEgress:
              - Description: "traffic to application"
                FromPort: 8080
                ToPort: 8080
                IpProtocol: tcp
              - Description: "traffic to elb"
                FromPort: 80
                ToPort: 80
                IpProtocol: tcp
            VpcId: vpc-f98df181
    AWSEBV2LoadBalancer:
        Type: 'AWS::ElasticLoadBalancingV2::LoadBalancer'
        Properties:
            SecurityGroups:
              - Fn::GetAtt:
                - TsrElbSecurityGroup
                - GroupId
            Subnets:
              - us-west-2a
              - us-west-2b
              - us-west-2c
              - us-west-2d
    AWSEBV2TargetGroup:
        Type: 'AWS::ElasticLoadBalancingV2::TargetGroup'
        Properties:
            HealthCheckEnabled: true
            HealthCheckIntervalSeconds: 30
            HealthCheckPath: "/actuator/health"
            HealthCheckPort: 80
            HealthCheckProtocol: HTTP
            HealthCheckTimeoutSeconds: 5
            HealthyThresholdCount: 5
            Name: eb-tg-http
            Port: 80
            Protocol: HTTP
            TargetType: instance
            UnhealthyThresholdCount: 2
            VpcId: vpc-f98df181
    AWSEBV2LoadBalancerListener:
        Type: 'AWS::ElasticLoadBalancingV2::Listener'
        Properties:
            DefaultActions:
              - Type: redirect
                RedirectConfig:
                    Protocol: HTTPS
                    Port: '443'
                    Host: '#{host}'
                    Path: '/#{path}'
                    Query: '#{query}'
                    StatusCode: HTTP_301
            LoadBalancerArn:
                Ref: AWSEBV2LoadBalancer
            Port: 80
            Protocol: HTTP
    AWSEBV2LoadBalancerListenerHTTPS:
        Type: 'AWS::ElasticLoadBalancingV2::Listener'
        Properties:
            Certificates:
              - CertificateArn: arn:aws:acm:us-west-2:735493012236:certificate/7ed993a7-2384-4b21-bf2f-de8de1e25c68
            DefaultActions:
              - Type: forward
                TargetGroupArn:
                    Ref: AWSEBV2TargetGroup
            LoadBalancerArn:
                Ref: AWSEBV2LoadBalancer
            Port: 443
            Protocol: HTTPS
            SslPolicy: ELBSecurityPolicy-2016-08
    AWSEBV2ListenerRuleHttpHealth:
        Type: 'AWS::ElasticLoadBalancingV2::ListenerRule'
        Properties:
            Actions:
              - Type: forward
                TargetGroupArn:
                    Ref: AWSEBV2TargetGroup
            Conditions:
              - Field: path-pattern
                Values:
                  - "/actuator/health"
            ListenerArn:
                Ref: AWSEBV2LoadBalancerListener
            Priority: 1
    AWSEBV2AutoScalingGroup:
        Type: 'AWS::AutoScaling::AutoScalingGroup'
        Properties:
            AutoScalingGroupName: tsr-asg
            AvailabilityZones:
                Fn::GetAZs: ""
            MinSize: "1"
            MaxSize: "2"
            DesiredCapacity: "1"
            TargetGroupARNs:
              - Ref: AWSEBV2TargetGroup