option_settings:
    aws:elasticbeanstalk:environment:
        LoadBalancerType: application
    aws:elasticbeanstalk:environment:process:default:
        HealthCheckPath: /actuator/health
        Port: '80'
        Protocol: HTTP
    aws:elbv2:loadbalancer:
        SecurityGroups: tsr-eb-sg
    aws:autoscaling:launchconfiguration:
        SecurityGroups: tsr-eb-sg